:root {
  --primary-clr: #252525;
  --background-clr: #ffffff;
  --accent: rgba(0, 0, 0, 0.3);
  --button-bg: rgba(54, 54, 54, 0.05);
}

* {

  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 12px;
}

body {
  background-color: var(--background-clr);
  color: var(--primary-clr);
  
}

.player-container {
  width: 90%;
  max-width: 1600px; /* Optional: Set a max-width to avoid it getting too large on big screens */
  margin: 0 auto; /* Center the container */
  padding: 10px;
  box-sizing: border-box;
}

.tip-container {
 width: 210px;
}

/* Slide background animation (optional) */
@keyframes slidein {
  0%, 100% {
    background-position: 20% 0%;
    background-size: 3400px;
  }
  50% {
    background-position: 100% 0%;
    background-size: 2400px;
  }
}

.album-cover {
  width: 160px;
  height: 160px;
  border-radius: 8px;
  object-fit: cover;
  margin-top: 2px;
  align-items: self-center;
  
}

.swiper {
  width: 100%;
  padding: 10px 0 100px;
}

.swiper-slide {
  position: relative;
  max-width: 200px;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.swiper-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

/* Player button size */
.controls button {
  font-size: 1.1vw; /* Doubles the size of the button */
  padding: 12px 20px; /* Increase padding for bigger buttons */
  border-radius: 60%;
  background-color: var(--button-bg);
  border: none;
  cursor: pointer;
}

.controls button i {
  font-size: inherit;
  color: var(--primary-clr);
}

/* Play button style */
.controls .play-pause-btn {
  background-color: #ff0000; /* Bright red */
  color: #ffffff;
  font-size: 2vw;
  
}


/* Optional: Add a hover effect */
.controls button:hover {
  background-color: rgba(54, 54, 54, 0.1);
}

.play-pause-btn:hover {
  background-color: #cc0000; /* Darker red on hover */
}

/* Make sure it adapts to smaller screens */
@media (max-width: 768px) {
  .player-container {
    width: 95%; /* Slightly larger width for smaller screens */
  }
  .album-cover {
  width: 130px;
  height: 130px;
}
.controls button {
  font-size: 1.2vw; /* Doubles the size of the button */
  padding: 12px 20px; /* Increase padding for bigger buttons */
}

  .tip-container {
 width: 180px;
}


}

/* For very small screens like smartphones in portrait mode */
@media (max-width: 480px) {
  .player-container {
    width: 100%; /* Full width on small screens */
    padding: 10px; /* Reduce padding */
  }
  .controls button {
  font-size: 1.2vw; /* Doubles the size of the button */
  padding: 12px 20px; /* Increase padding for bigger buttons */
  
}

}
