html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }

    body {
      background: url('https://github.com/ucho-thedestroyer/Io/raw/Backup/docs/gal/cak/01/cultureandkindred01.jpg') no-repeat center center fixed;
      background-size: cover;
    }
