html,
body {
	margin: 1;
	font-family: josefin-sans, sans-serif;
        font-size: 1em;
        color: #fff;
		letter-spacing:0.1vh;

}

body {
	background-color: #12100d;
}

body:after{
	display:none;

}
  a:link {
	color: rgb(243, 241, 133);
	text-decoration: none;
  }
  
  /* visited link */
  a:visited {
	color: rgb(151, 82, 78);
	text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
	color: slategray;
	text-decoration: none;
  }
  
  /* selected link */
  a:active {
	color: azure;
	text-decoration: none;
  }
h2 {
	  text-align: center;
  }
h4 {
	  text-align: center;
  }
  h5 {
	  text-align: center;
  }
  table {
	border-collapse: collapse;
	margin: 0 auto;
	border: 0px solid #ddd;
  }
.map {
  width: 100%;
  text-align: center; /* center the image if it's smaller than 100% width */
}

.map img {
  width: 100%;
  height: auto;
  max-width: 909px;
  max-height: 808px;
}
@media screen and (max-width: 600px) {
/*---
	.container {
	
		width: 500px;
		height: 450px;
	}
	------*/
	main {

		height: 100%;
		width: 95%;
		overflow: auto;
	
	}
	

}
